.list-post-planos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.post-plano {
    width: 340px;
    overflow: hidden;
}

.post-plano img {
    width: 340px;
    height: 340px;
    border-radius: 16px;
}

.post-plano h3 {
    font-family: text-title;
    font-size: 16pt;
}

.content-section {
    text-align: justify;
}

.section {
    padding-bottom: 30px;
}

@media screen and (max-width: 1120px) {
    .list-post-planos {
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
    }
    
    .post-plano {
        width: 30%;
    }

    .post-plano img {
        width: 90%;
        height: 240px;
    }
}

@media screen and (max-width: 500px) {

    .list-post-planos {
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
    }

    .post-plano {
        width: 50%;
        margin-bottom: 4px;
    }

    .post-plano img {
        width: 96%;
        height: 150px;
    }

    .post-plano h3 {
        font-size: 13pt;
    }


    .section {
        padding-left: 10px;
        padding-bottom: 10px;
    }

}